@model CoffeeCircles.Models.Product

@{
    ViewData["Title"] = "Edit Product";
}


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Add new product</h2>
        <hr />
        <form asp-action="AddNewProduct" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PhotoRef" class="control-label">Photo</label>
                <span class="label label-info">4:3 is preferred</span>
                <input asp-for="PhotoRef" type="file" name="photo" accept=".jpg, .jpeg, .png" class="form-control-static" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" autocomplete="off" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <div class="input-group col-md-3">
                    <input asp-for="Price" class="form-control" type="number" step="0.01" min="0" autocomplete="off"  />
                    <div class="input-group-addon">UAH</div>
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3" maxlength="400"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductTypeId" class="control-label"></label>
                <select asp-for="ProductTypeId" class="form-control" asp-items="ViewBag.ProductTypes"></select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Confirm
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Products">Back to List</a>
</div>

