@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1>Hello, visitor!</h1>
    <p class="lead">This is the home page of Сoffee Сircles* web site I am working on now. Soon this page will contain carousels with lists products and shops.</p>
    <hr />
    <p><i>* - Coffee Circles is a fictional coffee company, which I created to make the application functions look more natural.</i></p>
</div>